<div class="preview-panel">



  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h3>nazwa produktu</h3>
      </div>
      <div class="col-6 text-right">
        <button type="button" class="btn btn-warning" >-</button>
        <button type="button" class="btn btn-success">+</button>
        <button type="button" class="btn btn-danger">Usuń</button>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img class="img-thumbnail" src="">
      </div>
      <div class="col-8">
        <table class="table">
          <tr>
            <td>Cena:</td>
            <td>cena produktu</td>
          </tr>
          <tr>
            <td>Ilość sztuk:</td>
            <td>ilość sztuk</td>
          </tr>
        </table>
      </div>
    </div>
  </div>



</div>
