<div class="card card-body bg-light">
  <h1>Lista produktów</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th>Nazwa produktu</th>
              <th>Ilość sztuk</th>
              <th>Cena jednostkowa</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{ product.name }}</td>
              <td [ngClass]="{'text-warning': (product.amount>4 && product.amount < 8), 'text-critical': product.amount<=4 }" >{{ product.amount }}</td>
              <td>{{ product.price }} zł</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-12 col-md-6">
        <product-preview ></product-preview>
      </div>

    </div>
  </div>


<div>
